lib/bootstrap/*
!lib/bootstrap/dist
lib/bootstrap/dist/*

!lib/bootstrap/dist/css
lib/bootstrap/dist/css/*
!lib/bootstrap/dist/css/bootstrap.min.css

!lib/bootstrap/dist/js
lib/bootstrap/dist/js/*
!lib/bootstrap/dist/js/bootstrap.min.js

lib/jquery/*
!lib/jquery/dist
lib/jquery/dist/*
!lib/jquery/dist/jquery.js

package-lock.json